# Zero to Hero in python programming in 60 days


## Python data types 2 Booleans

#### Boolean Values
While the integer, floating-point, and string data types have an unlimited
number of possible values, the Boolean data type has only two values: True
and False. (Boolean is capitalized because the data type is named after
mathematician George Boole.)

# 07062962468

In [1]:
dami = True

In [2]:
dami

True

In [3]:
type(dami)

bool

In [4]:
true

NameError: name 'true' is not defined

In [5]:
True = 2 + 2 #True is a resered word in python

SyntaxError: cannot assign to True (<ipython-input-5-23f02edb584e>, line 1)

In [6]:
true = 3+3

#### comparison operators
Comparison operators compare two values and evaluate down to a single Boolean value.
operator meaning

== Equal to

!= Not equal to

< Less than

Greater than >

<= Less than or equal to

Greater than or equal to >=

In [9]:
42 == 42.1

False

In [10]:
42 == 99

False

In [11]:
2 != 3

True

In [12]:
2 != 2

False

In [13]:
'hello' == 'hello'

True

In [14]:
'hello' == 'Hello'

False

In [15]:
'dog' != 'cat'

True

In [16]:
True != False

True

In [17]:
42 == 42.0

True

In [18]:
42 == '42'

False

In [19]:
42 < 100

True

In [20]:
42 < 42

False

#### The Difference Between the == And = operators
You might have noticed that the == operator (equal to) has two equal signs,
while the = operator (assignment) has just one equal sign It’s easy to confuse
these two operators with each other Just remember these points:

•	 The == operator (equal to) asks whether two values are the same as each
other

•	 The = operator (assignment) puts the value on the right into the variable
on the left

To help remember which is which, notice that the == operator (equal to)
consists of two characters, just like the != operator (not equal to) consists of
two characters

#### Boolean operators
Binary Boolean Operators

In [21]:
True and True

True

In [22]:
True and False

False

The and Operator’s Truth Table

Expression Evaluates to…

True and True = True

True and False = False

False and True = False

False and False = False

In [23]:
False or True

True

In [24]:
False or False

False

The or Operator’s Truth Table

Expression Evaluates to…

True or True = True

True or False = True

False or True = True

False or False = False

The not Operator

In [25]:
not True

False

In [26]:
not not True

True

The not Operator’s Truth Table

Expression Evaluates to…

not True = False

not False = True

mixing Boolean and comparison operators

In [27]:
(4 < 5) and (5 < 6)

True

In [28]:
(4 < 5) and (9 < 6)

False

In [29]:
(1 == 2) or (2 == 2)

True

In [30]:
2 + 2 == 4 and not 2 + 2 == 5 and 2 * 2 == 2 + 2

True

### Assignment
What do the following expressions evaluate to?

(5 > 4) and (3 == 5)

not (5 > 4)

(5 > 4) or (3 == 5)

not ((5 > 4) or (3 == 5))

(True and True) and (True == False)

(not False) or (not True)

www.phibitech.com