# Python data types 1

The integer, floating-Point, and String data types

Common Data Types

Data type                           Examples

Integers                            -2, -1, 0, 1, 2, 3, 4, 5

Floating-point numbers              -1.25, -1.0, --0.5, 0.0, 0.5, 1.0, 1.25

Strings                             'a', 'aa', 'aaa', 'Hello!', '11 cats'

### String concatenation and replication

## Phibitech

### 07062962468

In [1]:
'Abass' + 'Olaiya'

'AbassOlaiya'

In [2]:
'Abass' + ' Olaiya'

'Abass Olaiya'

In [3]:
'Abass' + 48

TypeError: can only concatenate str (not "int") to str

In [4]:
'Abass' + '45'

'Abass45'

In [5]:
'Abass' * 5

'AbassAbassAbassAbassAbass'

In [6]:
';Abass '  *5

';Abass ;Abass ;Abass ;Abass ;Abass '

In [7]:
'Abass' * 'Olaiya'

TypeError: can't multiply sequence by non-int of type 'str'

In [8]:
'Abass' * 5.0

TypeError: can't multiply sequence by non-int of type 'float'

## Storing Values in Variables

#### Assignment Statements =

In [9]:
Sola = 4  #initialized comment.

In [10]:
Sola

4

In [11]:
Ola = 2

In [12]:
simbi = Sola + Ola

In [13]:
simbi

6

In [14]:
Sola = Sola + 4 #overwriting

In [15]:
Sola

8

In [16]:
simbi

6

In [17]:
crazy = 'mad'

In [18]:
crazy

'mad'

In [19]:
crazy = 'Really Good'

In [20]:
crazy

'Really Good'

### Variable names
1. It can be only one word.
2. It can use only letters, numbers, and the underscore (_) character.
3. It canâ€™t begin with a number

In [21]:
#Camel casing
abass_olaiya = 20
#snake casing

#### The input() Function

In [22]:
abassOlaiya = 20

In [30]:
name = input()

qwerty

In [31]:
name

'qwerty'

In [32]:
# print()
identity = input('what is your name? ')

what is your name? Abass

In [33]:
'Nice to meet you ' + identity

'Nice to meet you Abass'

#### The print function

In [34]:
print('Abass Olaiya is the tutor of thus tutorial')

Abass Olaiya is the tutor of thus tutorial

#### The len() Function

In [35]:
len(identity)

5

In [36]:
len('Abass')

5

#### The str(), int(), and float() Functions

In [37]:
str(30)

'30'

In [38]:
identity + ' is ' + str(28) + ' years young'

'Abass is 28 years young'

In [39]:
str(-3.14)

'-3.14'

In [40]:
int('42')

42

In [41]:
int('-99')

-99

In [42]:
int(1.25)

1

In [43]:
int(1.99)

1

In [44]:
float('3.14')

3.14

In [45]:
float(10)

10.0

In [46]:
# input function always generate string so in case you want to use anothe data type convert
age = input('How old are you? ')

How old are you? 10

In [47]:
next_age = age + 1

TypeError: can only concatenate str (not "int") to str

In [48]:
next_age = int(age) + 1

In [49]:
next_age

11

# Assignment

Why does this expression cause an error? How can you fix it?


'I took ' + 3 + ' cups of garri.'